.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #0090a8 50%, #c8e6fa 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.top {
	width:70%;
  font-size:30px;
	margin:auto;
	color:#000;
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  padding:10vmin;
  text-align:center;
}

.top-wrapper h1{
	letter-spacing:1px;
	line-height:60px;
  margin-bottom:30px;
}

.top-wrapper p{
	line-height:160%;
	margin:10px 0px;
  margin-bottom:30px;
	color:#333;
	font-size:16px;
}

.img1{
	background-image:url(https://www.rate2d3d.com/nav/other/unity_vroid/img/thumbnail.png);
}

.img2{
	background-image:url(https://www.rate2d3d.com/nav/other/blender/img/thumbnail.png);
}


.img3{
	background-image:url(https://www.rate2d3d.com/nav/other/unity_download/img/thumbnail.jpg);
}

.img4{
	background-image:url(https://www.rate2d3d.com/common/img/commingsoon.png);
}

.img5{
	background-image:url(https://www.rate2d3d.com/common/img/commingsoon.png);
}

.img6{
	background-image:url(https://www.rate2d3d.com/common/img/commingsoon.png);
}

.img7{
	background-image:url(https://www.rate2d3d.com/common/img/commingsoon.png);
}

.img8{
	background-image:url(https://www.rate2d3d.com/common/img/commingsoon.png);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@media(max-width:959px){

	.top{
		width:90%;
	}

	.top-wrapper p{
		font-weight:normal;
	}
}

@media(max-width:559px){

	.top-wrapper h1{
		font-size:30px;
		letter-spacing:1px;
		line-height:40px;
	}
}
